<div id="extensional">
	<h3 class="query_title">Relations : </h3>
	<div class="query_view">
		<div id="select_relation_extensional">
			<%=select_tag 'relation_extensional' , options_for_select(@relation_classes.select{|k,v| v <= ActiveRecord::Base}.keys.map {|k| k.capitalize})%>
			<input type="submit" id="refresh" value="refresh" onclick="window.relation_refresh('extensional');">
		</div>
		<div id="display_relation_extensional">
		</div>
	</div>
</div>
