<div id="query_examples">
	<h3 class="query_title">Query Examples</h3>
	<a id="query_examples_button" type="submit" class="popUpButton nice-button">&nbsp+&nbsp</a>
	<div  class="query_view"></div>
</div>
