<div id="update_examples">
	<h3 class="query_title">Update Examples</h3>
	<a id="update_examples_button" type="submit" class="popUpButton nice-button">&nbsp+&nbsp</a>
	<div  class="query_view">
		<%= @described_updates.inspect %>
	</div>
</div>
