<div class="opacity">
</div>
<div class="content"><%=notice%>
	<h1>Query#index</h1>
	<p>Find me in app/views/query/index.html.erb</p>
	<%= render 'create_relation'%><%= render 'list_relations' %>
</div>