<div class="field"> <%=text_area_tag 'rule' , nil, :placeholder => 'Write your own rule here...', :height => 3, :escape=>false, :required => true, :id => 'rule_edit_query'%> </div>
<%= submit_tag 'Add Rule', :id => "add_rule" %>