<div id="program">
	<h3 class="program_title">Program : </h3>
	<a id="program_button" type="submit" class="popUpButton nice-button">&nbsp+&nbsp</a>
	<div class="program_view">
		<div id="display_program">
			<div id="peers">
				<div class="statement" style="background-color:#aaa;">Peers : </div>
				<div id="peers_content"></div>
			</div>
			<div id="collections">
				<div class="statement" style="background-color:#aaa;">Collections : </div>
				<div id="collections_content"></div>
			</div>
			<div id="rules">
				<div class="statement" style="background-color:#aaa;">Rules : </div>
				<div id="rules_content"></div>
			</div>
		</div>
	</div>
</div>
