<div id="program">
	<h3 class="program_title">Extensional : </h3>
	<a id="program_button" type="submit" class="popUpButton nice-button">&nbsp+&nbsp</a>
	<div class="program_view">
		<div id="display_program"><!-- v.is_a?(ActiveRecord::Base) -->
		</div>
	</div>
</div>
