<div id="program">
	<h3 class="program_title">Program : </h3>
	<a id="program_button" type="submit" class="popUpButton nice-button">&nbsp+&nbsp</a>
	<div class="program_view">
		<div id="display_program">
			<div id="peers"></div>
			<div id="collections"></div>
			<div id="rules"></div>
		</div>
	</div>
</div>
