<script type="text/javascript">
</script>

<table id="contacts">
  <%@contacts.each do |contact| %>
    <tr>
      <td class="<%if contact.online%>online<%else%>offline<%end%>"></td>
      <td>
        <a name="contact" value="<%=contact.id%>" onclick="Select(this);" class="contact"><%= contact.username%></a>
      </td>
    </tr>
  <%end%>
</table>