<div id="contacts">
<table>
  <%@contacts.each do |contact| %>
    <tr>
      <td class="offline"></td>
      <td>
        <a name="contact" value="<%=contact.id%>" onclick="window.select(this);" class="contact"><%= contact.username%></a>
      </td>
    </tr>
  <%end%>
</table>
</div>
