<div class="opacity"></div>
<div class="content">
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] %>
    <div class="error"><%= flash[:alert] %></div>
  <% end %>
  <h2>No account yet? Sign up!</h2><%= render 'form' %>
</div>
