<div class="opacity"></div>
<div class="content">
	<div class="notice"><%= notice %></div>
	<div class="alert"><%= alert %></div>
	<div class="signin">
		<%= render 'login'%>
	</div>
	<div class="list" style="margin-top:30px;">
		<%= render 'list'%>
	</div>
</div>
