jQuery.noConflict()


capitalizeFirstLetter = (string) ->
  string.charAt(0).toUpperCase()+string.slice(1)

jQuery ->
  jQuery('a.fancybox').fancybox
  	'hideOnContentClick' : true
  	'hideOnOverlayClick' : true
  	'padding': 10
  	'titlePosition' : 'over'
  	'overayColor' : '#333'
  	'titleFormat' : (title, currentArray, currentIndex, currentOpts) ->
  	  splitted_inf = currentOpts.orig.context.parentElement.childNodes[3].innerHTML.split(";") #replace(/ /g,'').
  	  metainf = {}
  	  for split_kv in splitted_inf
  	    split_kv = split_kv.split("=")
  	    metainf[split_kv[0]] = split_kv[1]
  	  console.log("META-INF : " + metainf['owner'] + ", " + metainf['location']  + ", " + metainf['date']  + ", " + metainf['rating'].toString())
  	  return '<div id="fancybox-title-over"><table><tr>'+
  	  '<td style=""><strong style="font-style:italic">'+capitalizeFirstLetter(title)+'</strong></td>'+
  	  '<td style="text-align:right">On '+metainf['date']+'</td></tr>'+
  	  '<tr><td style="">By <strong>'+metainf['owner']+'</strong>, in <strong>'+metainf['location'].toString()+'</strong></td>'+
  	  '<td style="text-align:right">'+metainf['rating'].toString()+'</td></tr></table></div>'
  	'onComplete' : -> 
  		# #jQuery('#fancybox-title-over').style()
  		# jQuery('#fancybox-title-over').append('<div id="wepic-fancybox-location"> At Jules\' Place </div>')
  		#jQuery('#fancybox-wrap').hover ( -> jQuery("#fancybox-title").show()),( -> jQuery("#fancybox-title").hide())
