jQuery.noConflict()
regexWS = new RegExp(' ', 'g')

capitalizeFirstLetter = (string) ->
  string.charAt(0).toUpperCase()+string.slice(1)

sanitize = (string) ->
  string = string.trim()
  string.replace(regexWS,'') #removes all whitespace on keys


jQuery ->
  jQuery('a.fancybox').fancybox
  	'hideOnContentClick' : true
  	'hideOnOverlayClick' : true
  	'padding': 10
  	'titlePosition' : 'over'
  	'overayColor' : '#333'
  	'titleFormat' : (title, currentArray, currentIndex, currentOpts) ->
  	  
  	  splitted_inf = currentOpts.orig.context.parentElement.childNodes[3].innerHTML.split(";")
  	  metainf = {}
  	  for split_kv in splitted_inf
  	    split_kv = split_kv.split("=")
  	    metainf[sanitize(split_kv[0])] = split_kv[1] 
  	  console.log("META-INF : " + metainf['owner'] + ", " + metainf['location']  + ", " + metainf['date']  + ", " + metainf['rating'])
  	  
  	  list = [0,1,2,3,4]
  	  star_array = new Array(5)
  	  for i in list
        if i <= parseInt(metainf['rating'])
          star_array[i] = '<div class="star-rating rater-0 star star-rating-applied star-rating-readonly star-rating-on" aria-label="" role="text"><a title="on"></a></div>'
        else
          star_array[i] = '<div class="star-rating rater-0 star star-rating-applied star-rating-readonly" aria-label="" role="text"><a title="on"></a></div>'
      star_s = '<div class="star-wrapper">'
      for star in star_array
        star_s += star
      
      some_var = <%= "Hell0 World"%>

      # star_s += '<button type=submit style="background: #ccc url('
      # star_s += <%=asset_path('plus.png')%>
      # star_s +='); padding: 0.5em 1em" class="star-button">plus</button>'
#       
      # star_s += '<button type=submit style="background: #ccc url('
      # star_s += <%=asset_path('minus.png')%>
      # star_s +='); padding: 0.5em 1em" class="star-button">minus</button>'
  	  
  	  star_s += '</div>'
  	  return '<div id="fancybox-title-over"><table><tr>'+
  	  '<td style=""><strong style="font-style:italic">'+capitalizeFirstLetter(title)+'</strong></td>'+
  	  '<td style="text-align:right">On '+metainf['date']+'</td></tr>'+
  	  '<tr><td style="">By <strong>'+metainf['owner']+'</strong>, in <strong>'+metainf['location'].toString()+'</strong></td>'+
  	  '<td style="text-align:right">'+star_s+'</td></tr></table></div>'
  	'onComplete' : -> 
  	  jQuery('.star-rating').css({'float':'right'})
  		# #jQuery('#fancybox-title-over').style()
  		# jQuery('#fancybox-title-over').append('<div id="wepic-fancybox-location"> At Jules\' Place </div>')
  		#jQuery('#fancybox-wrap').hover ( -> jQuery("#fancybox-title").show()),( -> jQuery("#fancybox-title").hide())
