<div class="opacity"></div>
<div class="content">
	<div class="notice"><%= notice %></div>
	<div class="alert"><%= alert %></div>
	<h2>Please give us your account name : </h2>
	<%= render 'form' %>
</div>
