/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fancybox
 *= require starbox
 *= require jquery-star-rating
 *= require_tree .
*/

/*********************GENERAL*************************/
body {
    background-image: url(/assets/background.png);   
}

.opacity {
    background-color : #FFF;
    width : 100%;
    height : 100%;
    position : absolute;
    z-index: -1;
    opacity:0.8;
    filter:alpha(opacity=80);    
}

.admin {
    border-style : solid;
    border-width : 1px;
    padding : 10px;
    border-color : #E33;
}

.alert {
    color : #ff0000;
}

#nav {
    height : 100px;
}

.window960 {
	min-width: 864px;
    width : 90%;
    left : 10px;
    position : relative;	
}

#nav .content {
    position : relative;
}

#title {
    position : relative;
    float : left;
    margin : 15px;
}

#register_login {
    position : relative;
    float : right;
    top : 70px;
}

#nav .logos {
    position : relative;
    float :right;
    background-color : transparent;    
}

#webdamlogo {
    background-image : url(/assets/webdam3.png);
    background-repeat : no-repeat;
    background-position : top;
    width : 167px;
    height : 80px;
    margin : 10px;
    position : relative;
    float : right;
}

#inrialogo {
    background-image : url(/assets/logo_INRIA.jpg);
    background-repeat : no-repeat;
    background-position : top;
    width : 187px;
    height : 80px;
    margin : 10px;
    position : relative;
    float : right;    
}

#main {
    position : relative;
    margin-top : 78px;
}

#users {
    padding-bottom : 30px;    
}

#main .content {
    position : relative;
    margin : 10px;
    padding : 10px 0px;
}

#user_prompt {
    position : relative;
    text-align: center;
    width : 100%;
}

/* TAB CSS */
#tabs {
    margin-top : 20px;   
}

.tab {
    position :relative;
    float: left;
    margin-left:5px;
    margin-right : 5px;
}

.selected_tab {
    position :relative;
    float: left;
    margin-left:5px;
    margin-right : 5px;
}

#tabs .content {
    padding : 20px;
}

.tab .content {
    z-index : 1;
}

.tab .opacity {
    opacity:0.50;
    filter:alpha(opacity=50);    
}

.selected_tab .opacity {
    opacity:0.8;
    filter:alpha(opacity=80);
}

#tab .content {
    background-color : transparent;
    width : 100%;
    height : 100%;
    position : absolute;
    z-index : 0;
    opacity:0.100;
    filter:alpha(opacity=100);     
}

#tab .content:hover {
    background-color : #fff;
    opacity:0.85;
    filter:alpha(opacity=85);      
}
