/*// Place all the styles related to the Program controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

#program_menu {
  
}

.statement {
  width : 100%;
  min-height : 30px;
  background-color : #fff;
  border-bottom : 1px solid #111;
  padding : 2px;
  padding-right : 12px;
  word-wrap: break-word;
  position : relative;
}

.program_view {
  background : #eee;
  border : 1px solid #111;
  padding-top : 0px;
  padding-bottom : 0px;
  margin-top : 10px;
  margin-bottom : 10px;
  width : 98%;
  min-width : 280px;
  min-height : 100px;
  max-height : 300px;
  overflow-x : hidden;
  overflow-y : scroll;
  height : 300px;
}

#display_delegations {
  width : 100%;
}

.delegation {
  width : 100%;
  min-height : 30px;
  background-color : #fff;
  border-bottom : 1px solid #111;
  padding : 2px;
  padding-right : 12px;
  word-wrap: break-word;
  position : relative;
}

.delegation div.id {
  display : none;
}

.accept {
  position : absolute;
  padding-right : 5px;
  background-color : #fff;
  right: 8px;
  top: 18px;
  &:hover {
    font-weight : bold;
    font-size : 14px;
  }
}

.refuse {
  position : absolute;
  padding-right : 5px;
  background-color : #fff;
  right: 10px;
  top: 0px;
  &:hover {
    font-weight : bold;
    font-size : 14px;
  }
}

#program{
  display : block;
  min-width : 640px;
  width : 100%;
  position : relative;
}

#delegations{
  display : block;
  min-width : 640px;
  width : 100%;
  position : relative;
}

#delegations div.program_view{
  height : 150px;
}
#program a.popUpButton {
  top : -15px;
}
