/*// Place all the styles related to the Program controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

.program_view {
  background : #eee;
  border : 1px solid #111;
  padding-left : 1%;
  padding-right : 1%;
  padding-top : 0px;
  padding-bottom : 0px;
  margin-top : 10px;
  margin-bottom : 10px;
  width : 98%;
  min-width : 280px;
  min-height : 100px;
  max-height : 300px;
  overflow-x : hidden;
  overflow-y : scroll;
}

#program{
  display : block;
  min-width : 640px;
  width : 100%;
  position : relative;
}

#delegations{
  display : block;
  min-width : 640px;
  width : 100%;
  position : relative;  
}

#program a.popUpButton {
  top : -15px;
  
}
